<%- include('header') -%>
    <!-- Skyler's cookie code-->
    <script type="text/javascript">
        window.cookieCrawlData = <%- JSON.stringify(cookieCrawlData) -%>
    </script> 
    <script type="text/javascript">
        window.cookieCrawlHistory = <%- JSON.stringify(cookieCrawlHistory) -%>
    </script> 
    <script type="text/javascript">
        window.cookieCrawlArgs = <%- JSON.stringify(cookieCrawlArgs) -%>
    </script> 

    
    <div id="root">    
        
    </div>


<%- include('footer') -%>

